
#logo{
	float: left;
    width: 200px;
 }
 
 h3{
 	margin-top:70px;
 	float:left;
 }

 #menu{
	margin: 10px;
 }
#informeMayo{
	width: 50%;
	height:500px;
	margin: 0 auto;	
}
.pdf{
	margin: 0 auto;
	text-align: center
}


table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
}

input {
	width: 50%;
	background-color: black;
}
